@import url("Common/default-colors.css");

:root {
  color-scheme: light dark;

  --background: #121219;
  --background-grid: #1a1a20;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --background-grid: #eef;
  }
}

@import url("Common/base.css");

.effect-error {
  color: var(--error);
}

audio {
  margin-top: 1.5rem;
  display: block;
  width: 100%;
}

.effect {
  margin: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.effect-controls .button {
  margin-right: 10px;
}

.effect-controls .feather {
  margin: 0;
  vertical-align: middle;
}

/* Loading animation */

.loader {
  text-align: center;
  margin-bottom: 2.5rem; /* same as p */
}

.loader > div {
  background-color: var(--frames);
  height: 100%;
  display: inline-block;
  width: 10px;
  height: 60px;
  margin-right: 6px;
  animation: loading-animation 2s infinite ease-out;
}

.loader > #r1 {
  background-color: var(--accent);
}

.loader > #r2 {
  background-color: var(--accent-1);
  animation-delay: -0.5s;
}

.loader > #r3 {
  background-color: var(--accent-4);
  animation-delay: -1s;
}

.loader > #r4 {
  background-color: var(--accent-2);
  animation-delay: -1.5s;
}

@keyframes loading-animation {
  0%,
  20%,
  100% {
    transform: scaleY(1);
  }

  25%,
  45% {
    transform: scaleY(0.4);
  }

  50%,
  70% {
    transform: scaleY(1) scaleX(0.5);
  }

  75%,
  95% {
    transform: scaleY(0.4) scaleX(1);
  }
}
