@import url("https://fonts.googleapis.com/css?family=Karla|Space+Mono&display=swap");

$background: #111;
$disabled-text: #888;
$text: #aaa;
$primary-text: #eee;

$accent-1: #faeb2c;
$accent-2: #f52789;
$accent-3: #e900ff;
$accent-4: #1685f8;
